:root {
  --background-color: #fff;
  --text-color: #ff0000;
  --content-background: #fff;
  --content-text: #302B27;
  --button-bg: #302B27;
  --button-text: #fff;

}

body {
  background-color: var(--content-background);
  color: var(--content-text);
  font-family: avenir, Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
  ;
  margin: 1rem;
}

h2 {
  margin-top: 3rem;
}


/* BUTTONS CSS*/





/*button styles*/
.btn-standaard {
  background-color: var(--button-bg);
  color: var(--button-text);
  font-size: 1rem;
  padding: 1em 1em
}


.btn-link {
  text-decoration: underline;

}

/*end button styles*/

/* button sizes*/

.btn1 {
  font-size: 12px;
  cursor: pointer;
  background-color: var(--button-bg);
  color: var(--button-text);
}

.btn2 {
  font-size: 16px;
  cursor: pointer;
  background-color: var(--button-bg);
  color: var(--button-text);
}

.btn3 {
  font-size: 20px;
  cursor: pointer;
  background-color: var(--button-bg);
  color: var(--button-text);
}

.btn4 {
  font-size: 24px;
  cursor: pointer;
  background-color: var(--button-bg);
  color: var(--button-text);
}

/*END Button sizes*/

/*code samples*/
pre {
  color: red;
  font-weight: bolder;
}

/* end code samples*/

/* start dropdown button*/
.dropdown {
  display: inline-block;
  position: relative;
  background-color: white;
  color: black;
  cursor: pointer;
}

.dd-button {
  display: inline-block;
  border: 1px solid gray;
  border-radius: 4px;
  padding: 10px 30px 10px 20px;

  cursor: pointer;
  white-space: nowrap;
}

.dd-button:after {
  content: '';
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid black;
  background-color: white;

}

.dd-input {
  display: none;
}

.dd-menu {
  position: absolute;
  top: 100%;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 0;
  margin: 2px 0 0 0;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.1);
  background-color: white;
  list-style-type: none;
}

.dd-input+.dd-menu {
  display: none;
}

.dd-input:checked+.dd-menu {
  display: block;


}

.dd-menu li {
  padding: 10px 20px;
  cursor: pointer;
  white-space: nowrap;
}


.dd-menu li a {
  display: block;
  margin: -10px -20px;
  padding: 10px 20px;
}

.dd-menu li.divider {
  padding: 0;
  border-bottom: 1px solid #cccccc;
}

/* end dropdown button*/

/*Link Buttons*/

nav>ul {
  list-style: none;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 3rem;
  margin-right: 3rem;
  margin-top: 2rem;
  margin-bottom: 2rem;

}


nav>ul>li>a {
  color: var(--content-text);
  text-decoration: none;
  font-weight: 900;
  font-weight: bold;

}

nav>ul>li>a:hover {
  color: #F44336;
}

/*end link buttons*/


/* icon button*/
ion-icon {
  width: 80px;
  height: 80px;
  cursor: pointer;

}

/* end BUTTONS CSS*/

@media only screen and (min-width:320px) and (max-width:480px) {}



@media only screen and (min-width:481px) and (max-width:768px) {}



@media only screen and (min-width:769px) and (max-width:1023px) {}


@media only screen and (min-width:1024px) and (max-width:1200px) {}