:root {
  --background-color: #F5F1ED;
  --text-color: #55505C;
  --content-background: #F5F3F5;
  --content-text: #302B27;

}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #55505C;
    --text-color: #F5F1ED;
    --content-background: #302B27;
    --content-text: #F5F3F5;
  }
}

body {
  background-color: var(--content-background);
  color: var(--content-text);
}

@font-face {
  font-family: 'avenir_lt_std95_black';
  src: url('../assets/fonts/avenir/avenirltstd-black-webfont.woff2') format('woff2'),
    url('../assets/fonts/avenir/avenirltstd-black-webfont.woff') format('woff');
  font-weight: heavy;
  font-style: normal;
}




@font-face {
  font-family: 'avenir_lt_std45_book';
  src: url('../assets/fonts/avenir/avenirltstd-book-webfont.woff2') format('woff2'),
    url('../assets/fonts/avenir/avenirltstd-book-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}




@font-face {
  font-family: 'avenir_lt_std55_roman';
  src: url('../assets/fonts/avenir/avenirltstd-roman-webfont.woff2') format('woff2'),
    url('../assets/fonts/avenir/avenirltstd-roman-webfont.woff') format('woff');
  font-weight: light;
  font-style: normal;
}




/* begin Buttons CSS*/

.btn-standaard {
  background-color: white;


}

.btn-primair {
  background-color: #008CBA;

  color: white;
}

.btn-gevaar {
  background-color: #f44336;

  color: white;
}

.btn-succes {
  color: white;
  background-color: #4CAF50;

}


.btn-info {
  color: white;
  background-color: purple;

}

.btn-waarschuwing {
  color: white;
  background-color: orange;

}

.btn-link {
  text-decoration: underline;

}

img {
  max-width: auto;
}


/* end buttons css/*


/* Ibegin Icons css/*










/* END Icons CSS /*