:root {
  --background-color: #F5F1ED;
  --text-color: #55505C;
  --content-background: #F5F3F5;
  --content-text: #302B27;

}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #55505C;
    --text-color: #F5F1ED;
    --content-background: #302B27;
    --content-text: #F5F3F5;
  }
}

body {
  background-color: var(--content-background);
  color: var(--content-text);
<<<<<<< HEAD



=======
  font-family: Arial, Helvetica, sans-serif;
  padding-left: 2em;

}

div{
  max-width: 45em;
}

bold{
  color: red;
}

img{
  height: 20em;
  width: 22em;
  padding-left: 2em;
>>>>>>> ee57a6e6c04655be545fea390c7b93b5dfad8518
}