:root {
  --background-color: #F5F1ED;
  --text-color: #55505C;
  --content-background: #F5F3F5;
    --content-text: #302B27;
}

body {
  background-color: var(--content-background);
  color: var(--content-text);
  font-family: Arial, Helvetica, sans-serif;
  padding-left: 2em;

}

div{
  max-width: 45em;
}

bold{
  color: red;
}

img{
  height: 15em;
  width: 20em;
  margin-left: 2em;
  margin-top: 1em;
}